<footer class="sticky-bottom mt-5">
    <div class="container">
      © Copyright {{ site.time | date: '%Y' }} {{ site.author }}. 
      Awesome theme from <a href="https://github.com/alshedivat/al-folio" target="_blank" rel="noopener noreferrer">al-folio</a>.
      Last updated: {{ site.time | date: '%b %d, %Y' }}.
    </div>
  </footer>


    <!-- Footer -->    <footer class="sticky-bottom mt-5">
        <div class="container">
            © Copyright 2024 Antonio Franca. Awesome theme from <a href="https://github.com/alshedivat/al-folio" target="_blank" rel="noopener noreferrer">al-folio</a>.
    Last updated: Sept 01, 2024.
            </div>
        </footer>
        